* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1em;
}

header {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 4;
    transition: 0.5s ease-in-out;
}

header nav {
    display: flex;
}

.logo {
    margin: 1% 10%;
    padding: 0;
    float: left;
    color: #eee;
}

.logo h1 {
    font-size: 5rem;
}

.header_list {
    width: 100%;
    background: #000;
    text-align: center;
}

.header_list li {
    display: inline-flex;
    list-style-type: none;
    width: 200px;
    margin: 10px;
    padding: 15px;
    justify-content: space-evenly;
}

.header_list li a {
    color: white;
    text-decoration: none;
    transition: .5s;
    font-size: 2rem;
}

.header_list li a:hover, .list li a:hover {
    color: black;
    background: #ff9900;
    border-radius: 3px;
}

.header_list li.active a, nav ul.list li.active a {
    color: #ff9900;
    background: #000;
    width: 20px;
    border-radius: 20px;
}

.sub-menu {
    display: none;
    list-style-type: none;
    height: 100px;
    margin: 10px;
    border-radius: 30px;
}

.header_list li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 50px;
    margin-left: -25px;
}

.header_list li:hover .sub-menu ul {
    display: block;
    margin: 10px;
}

#icon {
    display: none;
}

#hero-image {
    width: 100%;
    height: 500px;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/g1.jpeg");
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/g1.jpeg");
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/g1.jpeg");
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
}

.hero-text {
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 70px;
    padding: 20px;
    margin-top: 150px;
    color: #eee;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    width: 100%;
    height: 100%;
}

.flex-item1 {
    width: 80%;
    height: auto;
    position: relative;
}

.content1 {
    top: 40%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.content1 h1 {
    font-size: 40px;
    margin: 20px 0;
}

.prap {
    width: 400px;
    height: 60px;
}

.prap p {
    font-size: 30px;
    margin: 10px 0;
    padding: 0;
}

.content2 {
    margin: 0 0 10px;
    padding: 0;
    height: 100%;
}

.content2 img {
    width: 100%;
    height: 100%;
}

.contact {
    /* background: url(../img/banner5.jpg) no-repeat 0px 0px; */
    background-image: url("http://evcon-group.com/wp-content/uploads/2021/04/image6.jpeg") no-repeat 0px 0px;
    background-size: cover;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 3em;
    color: whitesmoke;
    font-weight: 400;
    font-family: 'Candal', sans-serif;
}

.contact-w3 {
    margin: 4em auto 0;
    width: 30%;
    -webkit-appearance: none;
    background-color: rgba(7, 6, 11, 0.63);
    padding: 2em;
    border-radius: 3px;
}

.contact-w3 input[type="text"], .contact-w3 textarea {
    width: 96%;
    padding: 0.7em;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 0.95em;
    border-top: 3px solid #0c6da2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin: 0.8em 0;
}

.row1 {
    margin-top: 0.8em;
}

.contact-left-w3 {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.contact-right-w3l {
    float: left;
    width: 48%;
}

.contact-w3 textarea {
    resize: none;
    height: 150px;
}

.contact-w3 label {
    font-size: 0.95em !important;
    color: #fff !important;
    margin-bottom: 8px;
    display: block;
    font-weight: 600;
}

.contact-w3 input[type="submit"] {
    font-size: 1em;
    padding: 0.8em;
    display: block;
    margin-top: 1em;
    outline: none;
    background: #0c6da2;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

.contact-w3 input[type="submit"]:hover {
    background: #fff;
    color: #000;
}

.footer-w3-agile {
    text-align: center;
    padding: 4em 0;
}

.footer-w3-agile p {
    font-size: .9em;
    color: #fff;
    margin: 0px;
    line-height: 1.8em
}

.footer-w3-agile p a {
    color: #fff;
}

.f {
    align-items: center;
}